# Build output folders
dist
es
build

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# Debug log
npm-debug.log
yarn-error.log

# IDE ignore
.idea
.vscode
.history

# Flow
flow-typed
flow-coverage

# System
.DS_Store
